body {
  display: grid;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#cc82e1, #a92fca);
  margin: 0;
  padding-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}
.container_mae{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#bloquear {
  display:none;
}
.bloquear {
  display: none;
}

.app_fora {
  justify-content: center;
  text-align: center;
  align-items: center;
}

#adicionais_salada{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  width: 350px;
  grid-row: 3;
}

#adicionais_salada label{
  text-align: start;
}

.alerta_pgto {
  font-weight: bold;
  color: red;
  padding: 20px 0 20px 0;
}
#complemento_salada{
  display: none;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;

}

#complemento_salada label {
  text-align: start;
}

#complemento_shake{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
  display: none;
  grid-row: 3;
}

#sabor_trad {
  display: none;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
  
}

#sabor_trad label {
  text-align: start;
}
#copos {
  align-items: center;
  align-self: center;
  text-align: center;
  border: solid #a92fca 1px;
  margin-top: 10px;
  background: radial-gradient(#cc82e1, #a92fca);
  border-radius: 10px;
}
.estilo_paragrafo{
  background: radial-gradient(#cc82e1, #a92fca);
  border: solid #a92fca 1px;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
  margin: 10px 0 5px 0;
}
.estilo_titulo {
  background: radial-gradient(#3c004d, #c20cf4);
  border: solid #a92fca 1px;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  color: #2afc00;
  font-weight: bolder;
  margin: 10px 0 5px 0;

}
#marmitas {
  align-items: center;
  align-self: center;
  text-align: center;
  border: solid #a92fca 1px;
  margin-top: 10px;
  background: radial-gradient(#cc82e1, #a92fca);
  border-radius: 10px;
}
#salada {
  align-items: center;
  align-self: center;
  text-align: center;
}
#salada p {
  font-weight: bolder;
}
#shake{
  align-items: center;
  align-self: center;
  text-align: center;
}

#esconde_carrinho p {
  font-weight: bolder;
  
}

#sabor_especial {
  display: none;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
}
#meu_select_salada {
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}
#meu_select_shake {
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}
#shake_tradicional{
  padding-top: 20px;
}
.res_css{
  font-weight: bolder;
}


#coberturas {
  display: none;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#coberturas label {
  text-align: start;
}
#acai_tradicional{
  justify-content: center;
  text-align: center;
  align-items: center;
}

#acai_recheio{
  justify-content: center;
  text-align: center;
  align-items: center;
}

#trad_copo div {
  margin-top: 20px;
}
#trad_marmita div {
  margin-top: 20px;
}
#trad_pote div {
  margin-top: 20px;
}
#res_complemento_shake{
  font-size: 16px;
}



.container {
  border-radius: 20px;
  grid-template-columns: 500px;
  grid-template-rows: auto fr;
  gap: 2px;
  display: grid;
  padding-left: 0;
  margin: 0;
  grid-row: 1 / 1;

  justify-content: center;
  justify-items: center;
  row-gap: 5px;
  grid-auto-rows: auto;
  grid-template-columns: 360px;

}

header {
  grid-row: 1;
  margin: 0;
  grid-row: 1;
  height: 95px;
  margin-bottom: 5px;
}

.cabecalho {
  display: grid;
  grid-auto-columns: 3;
  margin-bottom: 5px;
  margin-top: 5px;
  column-gap: 5px;
}


.imgcabeca {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
  display: inline-flex;
}
.enderecocabeca {
  font-size: 8pt;
  font-weight: bolder;
  margin: 0;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

}
.enderecocabeca p {
  margin: 0;
}
.enderecocabeca h3 {
  margin: 0;
}

.canto_tela{
  grid-column: 3;
  display: grid;
  grid-auto-rows: 1fr 1fr;
}
#local:hover{
  cursor: pointer;
  position: relative;
  color: blue;
  text-decoration: underline;
}
.tooltip::after{
  content: 'Ir para o Google maps';
  position: absolute;
  left:50%;
  bottom: 125%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
}
.tooltip:hover::after{
  opacity: 1;
  visibility: visible;

}

.count_login::after{
  content: 'TOTAL DE VEZES QUE O APP FOI USADO';
  position: absolute;
  left:-120%;
  bottom: -135%;
  transform: translateX(-80%);
  color: #f6f7fa;
  padding: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
}
.count_login:hover::after{
  opacity: 1;
  visibility: visible;

}

.count_carrinho::after{
  content: 'CARRINHO DE COMPRA';
  position: absolute;
  left:-130%;
  bottom: -220%;
  transform: translateX(-80%);
  color: #fff;
  padding: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  pointer-events: none;
  z-index: 10;
}
.count_carrinho:hover::after{
  opacity: 1;
  visibility: visible;

}


#mostrar_carrinho {
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(45deg, #fdfbfd 25%, #de85f7 50%, #c727f3 75%);
  background-size: 300% 300%;
  animation: brilho 4s linear infinite;
  grid-row: 1;

}
#mostrar_login {
  display: grid;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(45deg, #fdfbfd 25%, #de85f7 50%, #c727f3 75%);
  background-size: 300% 300%;
  animation: brilho 4s linear infinite;
  grid-row: 2;
  justify-content: center;
  justify-items: center;

}

#meu_select_trad_pote{
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}
#meu_select_trad_marmita{
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}
#meu_select_trad_copo{
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}



#meu_select_copo{
  height: 50px;
  width: 175px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
  
}
#meu_select_marmita{
  height: 50px;
  width: 175px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: radial-gradient(#e0cfe5, #cb7ce1);
  border: solid #a92fca 1px;
  border-radius: 10px;
  color: #210129;
  font-weight: bolder;
}



#msgcadastro{
  margin: 0;
}
#msgcadastro h2{
  margin: 0;
}
#msgcadastro h5{
  margin: 0;
}

img {
  display: inline-flex;
  width: 150px;
}

h1 {
  color: rgb(128, 32, 78);
  margin: 5px;
}
h2 {
  margin: 5px;
  color: rgb(128, 32, 78);
}
h3 {
  margin: 5px;
  color: white;
}
h4 {
  margin: 5px;
  color: white;
}
h5 {
  color: black;
  margin: 5px;
  font-style: italic;
}


input:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login {
  display: flex;
}
#login input {
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.btns {
  display: inline-flex;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.btns:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}



.btns_especial {
  display: inline-flex;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.btns_adicionar {
  display: inline-flex;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.btns_adicionar:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#adicao {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  grid-row: 3;
}

footer {
  border-top: solid 2px #370246;
  grid-column: 1 / -1;
  border-top: solid 2px #370246;
  padding: 0px 10px 0 10px;
  font-size: 8pt;
  margin-top: 20px;
  font: bold;
  grid-row: 5;
  padding-top: 10px ;
}
footer a {
  font-size: 11pt;
  background-color: black;
  color: #fff;
}

footer a:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
  font-size: 12pt;
}


#welcome {
  font-size: 20px;
  text-align: center;
}

.cabecatitulo {
  margin: 0;
  grid-row: 1 / 1;
}
.cabecaendereco {
  margin: 0;
  grid-row: 2 / 2;
}
.cabecacidade {
  margin: 0;
  grid-row: 3 /3;
}
.cabecatelefone {
  margin: 0;
  grid-row: 4 / 4;
}
.tab-container {
  margin-top: 5px;
  display: flex;
  margin-top: 3px;
}

.tab-container2 {
  display: flex;
  margin-bottom: 3px;

}

.tab {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
  height: 35px;
  border: solid 1px;
  border-radius: 20px;
  margin: 0 1px 0 1px;
}
.tab2 {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
  height: 35px;
  border: solid 1px;
  border-radius: 20px;
  margin: 0 1px 0 1px;
}

.tab:hover {
  background-color: #b96bcf;
}
.sub_tab {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
  height: 25px;
  border: solid 1px;
  border-radius: 20px 10px 20px 0;
}
.sub_tab:hover {
  background-color: #b96bcf;
}
.category {
  display: none;
}
.sub_category {
  display: none;
}
#reshora {
  margin: 0;
  display: inline-flex;
}
#reshora2 {
  margin: 0;
  display: inline-flex;
}
#hdia {
  margin: 0;
  display: inline-flex;
}
#btn_regiao{
  display:none;
}

#imagem_copo {
  margin-top: 10px;
}
#imagem_copo img {
  width: 300px;
}



#imagem_salada {
  padding-top: 20px;
}
#imagem_salada p {
  font-weight: bolder
}


#imagem_marmita {
  margin-top: 10px;
}
#imagem_marmita img {
  width: 300px;
}
#imagem_marmita:hover {
  cursor: pointer;
}
.imgdcab {
  margin-right: 5px;
  border-radius: 10px;
}

#personalizar_pedido {
  margin: 0;
  display: flex;
  padding: 5px;
}
.horas {
  grid-row: 2;
  grid-column: 1;
  margin: 10px 0 10px 0;
  font-weight: bolder;
  color: rgb(2, 53, 2);
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 10pt;
}

#login {
  padding: 0 80px 0 80px;
}
#usuario {
  display: none;
  padding-top: 20px;
  border-top: solid 1px #44274c;
  margin-right: 5px;
}

#enviar_dados {
  margin-left: 15px;
  margin-top: 20px;
}
#imagem_copo {
  width: 320px;
  border-radius: 20px;
  margin-left: 10px;
}
#imagem_copo img {
  border-radius: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-right: 10px;
}

#imagem_marmita {
  width: 320px;
  border-radius: 20px;
  margin-left: 10px;
}

#imagem_marmita img {
  border-radius: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-right: 10px;
}
#limpar {
  display: none;
}
.sujestao {
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-row: 3;
  width: 350px;
}
#mensagem {
  display: none;
}
.regiao {
  margin-bottom: 10px;
  margin-top: 3px;
}
#regiao_mensagem {
  color: #fff;
  font-weight: bold;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#escolha_regiao {
  font-size: 12px;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#escolha_regiao h2 {
  font-size: 20px;
}
#escolha_regiao h5 {
  font-size: 16px;
}

.inpt_regiao {
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  padding-top: 10px;
}

.inpt_regiao input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.iptn_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.iptn_div label {
  margin-left: 2px;
}

.btns_regioes {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  margin-bottom: 10px;
  background: linear-gradient(30deg, #c800ff 25%, #2afc00 50%, #c86de1 75%);
  background-size: 300% 300%;
  animation: brilho 4s linear infinite;
  font-size: 15pt;

}


#esconde_carrinho {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
}
#voltar_inicio{
  margin-left: 100px;
}
#agradece{
  display: none;
  grid-row: 3;
  padding: 0 5px 0 5px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
}
.vlt_sempre{
  margin-left: 90px;
  color: black;
}
.vlt_grid{
  display: grid;
  width: 350px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.img_loja{
  border-radius: 20px;
  grid-column: 1;
  grid-row: 1;
}
.vlt_txt{
  padding-top: 20px;
  grid-column: 2;
  grid-row: 1;

  border-radius: 10px;
}
.vlt_txt p {
  font-style: italic;
  color: #210129;
}
#carrinho {
  margin-top: 5px;

  border-radius: 10px;
  display: block;
}
#carrinho ul {
  padding-left: 20px;
}
#carrinho li {
  padding-right: 10px;
}
#final {
  display: none;
  margin: 0;
  grid-row: 3;
}
#final span {
  position: relative;
  bottom: 3px;
  margin: 0;
  left: 10px;
}

#final p {
  margin: 5px;
}
#final h5 {
  font-size: 10px;
}
.seus_dados {
  margin-top: 20px;
}


#contCarrinho {
  color: #370246;
  position: relative;
  top: 12px;
}
#logCarrinho {
  position: relative;
  font-size: 20px;
}
#contLogin {
  color: #370246;
  position: relative;
  top: 1px;
  grid-row: 2;
  font-size: 9pt;
}
#logLogin {
  position: relative;
  font-size: 20px;
  grid-row: 1;
}
#adicionais {
  display: none;
  grid-row: 4;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.find_titulo{
  display: inline-flex;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.find_titulo:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cx_add_salada {
  display: grid;
  /*grid-template-columns: 50px 250px;*/
  grid-template-rows: repeat(8, 40px);
  grid-column-gap: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}

.cx_add_salada label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_salada input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}


.grid_titulo_salada {
  grid-row: 1;
  grid-column: 1 /2;
  grid-column: span 2;
  background: radial-gradient(#3c004d, #c20cf4);
  border: solid #a92fca 1px;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  color: #2afc00;
  font-weight: bolder;
  margin: 10px 0 5px 0;
}

#checkbox200 {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;


}
.check200 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox201 {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
}
.check201 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox202 {
  grid-row: 3;
  grid-column: 1;
  justify-self: end;
}
.check202 {
  grid-row: 3;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox203 {
  grid-row: 4;
  grid-column: 1;
  justify-self: end;
}
.check203 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox204 {
  grid-row: 5;
  grid-column: 1;
  justify-self: end;
}
.check204 {
  grid-row: 5;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox205 {
  grid-row: 6;
  grid-column: 1;
  justify-self: end;
}
.check205 {
  grid-row: 6;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}
#checkbox206 {
  grid-row: 7;
  grid-column: 1;
  justify-self: end;
}
.check206 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
  justify-self: center;
}

.cx_add_complemento_salada {
  display: grid;
  /*grid-template-columns: 50px 250px;*/
  grid-template-rows: repeat(8, 40px);
  grid-column-gap: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}
.cx_add_complemento_salada label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_complemento_salada input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}



#checkbox207 {
  grid-row: 2;
  grid-column: 1;

}
.check207 {
  grid-row: 2;
  grid-column: 2;

}
#checkbox208 {
  grid-row: 3;
  grid-column: 1;
}
.check208 {
  grid-row: 3;
  grid-column: 2;

}
#checkbox209 {
  grid-row: 4;
  grid-column: 1;
}
.check209 {
  grid-row: 4;
  grid-column: 2;

}
#checkbox210 {
  grid-row: 5;
  grid-column: 1;
}
.check210 {
  grid-row: 5;
  grid-column: 2;

}
#checkbox211 {
  grid-row: 6;
  grid-column: 1;
}
.check211 {
  grid-row: 6;
  grid-column: 2;

}
#checkbox212 {
  grid-row: 7;
  grid-column: 1;
}
.check212 {
  grid-row: 7;
  grid-column: 2;

}
#checkbox213 {
  grid-row: 8;
  grid-column: 1;
}
.check213 {
  grid-row: 8;
  grid-column: 2;

}
#checkbox214 {
  grid-row: 9;
  grid-column: 1;
}
.check214 {
  grid-row: 9;
  grid-column: 2;

}
#checkbox215 {
  grid-row: 1;
  grid-column: 1;
}
.check215 {
  grid-row: 1;
  grid-column: 2;

}


.cx_add_shake {
  display: grid;
  grid-template-rows: repeat(17, 40px);
  grid-column-gap: 5px;

  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}

.cx_add_shake label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_shake input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}


#checkbox300 {
  grid-row: 2;
  grid-column: 1;

}
.check300 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox301 {
  grid-row: 3;
  grid-column: 1;
}
.check301 {
  grid-row: 3;
  grid-column: 2;
  margin-top: 5px;
}
/*
#checkbox302 {
  grid-row: 4;
  grid-column: 1;
}
.check302 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
}*/
#checkbox303 {
  grid-row: 5;
  grid-column: 1;
}
.check303 {
  grid-row: 5;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox304 {
  grid-row: 6;
  grid-column: 1;
}
.check304 {
  grid-row: 6;
  grid-column: 2;
  margin-top: 5px;
}
/*
#checkbox305 {
  grid-row: 7;
  grid-column: 1;
}
.check305 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
}*/
#checkbox306 {
  grid-row: 8;
  grid-column: 1;
}
.check306 {
  grid-row: 8;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox307 {
  grid-row: 9;
  grid-column: 1;
}
.check307 {
  grid-row: 9;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox308 {
  grid-row: 10;
  grid-column: 1;
}
.check308 {
  grid-row: 10;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox309 {
  grid-row: 11;
  grid-column: 1;
}
.check309 {
  grid-row: 11;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox310 {
  grid-row: 12;
  grid-column: 1;
}
.check310 {
  grid-row: 12;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox311 {
  grid-row: 13;
  grid-column: 1;
}
.check311 {
  grid-row: 13;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox312 {
  grid-row: 14;
  grid-column: 1;
}
.check312 {
  grid-row: 14;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox313 {
  grid-row: 15;
  grid-column: 1;
}
.check313 {
  grid-row: 15;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox314 {
  grid-row: 16;
  grid-column: 1;
}
.check314 {
  grid-row: 16;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox315 {
  grid-row: 17;
  grid-column: 1;
}
.check315 {
  grid-row: 17;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox316 {
  grid-row: 7;
  grid-column: 1;
}
.check316 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox317 {
  grid-row: 4;
  grid-column: 1;
}
.check317 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox318 {
  grid-row: 1;
  grid-column: 1;
}
.check318 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
}




.cx_add_cobertura {
  display: grid;
  grid-template-rows: repeat(14, 40px);
  grid-column-gap: 5px;

  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}

.cx_add_cobertura label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_cobertura input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}

.grid_titulo_cobertura {
  grid-row: 1;
  grid-column: 1 /2;
  grid-column: span 2;
}

#checkbox400 {
  grid-row: 2;
  grid-column: 1;

}
.check400 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox401 {
  grid-row: 3;
  grid-column: 1;
}
.check401 {
  grid-row: 3;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox402 {
  grid-row: 4;
  grid-column: 1;
}
.check402 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox403 {
  grid-row: 5;
  grid-column: 1;
}
.check403 {
  grid-row: 5;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox404 {
  grid-row: 6;
  grid-column: 1;
}
.check404 {
  grid-row: 6;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox405 {
  grid-row: 7;
  grid-column: 1;
}
.check405 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox406 {
  grid-row: 8;
  grid-column: 1;
}
.check406 {
  grid-row: 8;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox407 {
  grid-row: 9;
  grid-column: 1;
}
.check407 {
  grid-row: 9;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox408 {
  grid-row: 10;
  grid-column: 1;
}
.check408 {
  grid-row: 10;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox409 {
  grid-row: 11;
  grid-column: 1;
}
.check409 {
  grid-row: 11;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox410 {
  grid-row: 12;
  grid-column: 1;
}
.check410 {
  grid-row: 12;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox411 {
  grid-row: 13;
  grid-column: 1;
}
.check411 {
  grid-row: 13;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox412 {
  grid-row: 14;
  grid-column: 1;
}
.check412 {
  grid-row: 14;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox413 {
  grid-row: 1;
  grid-column: 1;
}
.check413 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
}


#coberturas{
  width: 350px;
}
.cx_add_complemento_shake {
  display: grid;
  grid-template-rows: repeat(26, 40px);
  grid-column-gap: 5px;

  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}
.cx_add_complemento_shake label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_complemento_shake input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}


#checkbox500 {
  grid-row: 2;
  grid-column: 1;

}
.check500 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox501 {
  grid-row: 3;
  grid-column: 1;
}
.check501 {
  grid-row: 3;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox502 {
  grid-row: 4;
  grid-column: 1;
}
.check502 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox503 {
  grid-row: 5;
  grid-column: 1;
}
.check503 {
  grid-row: 5;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox504 {
  grid-row: 6;
  grid-column: 1;
}
.check504 {
  grid-row: 6;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox505 {
  grid-row: 7;
  grid-column: 1;
}
.check505 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox506 {
  grid-row: 8;
  grid-column: 1;
}
.check506 {
  grid-row: 8;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox507 {
  grid-row: 9;
  grid-column: 1;
}
.check507 {
  grid-row: 9;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox508 {
  grid-row: 10;
  grid-column: 1;
}
.check508 {
  grid-row: 10;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox509 {
  grid-row: 11;
  grid-column: 1;
}
.check509 {
  grid-row: 11;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox510 {
  grid-row: 12;
  grid-column: 1;
}
.check510 {
  grid-row: 12;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox511 {
  grid-row: 13;
  grid-column: 1;
}
.check511 {
  grid-row: 13;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox512 {
  grid-row: 14;
  grid-column: 1;
}
.check512 {
  grid-row: 14;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox513 {
  grid-row: 15;
  grid-column: 1;
}
.check513 {
  grid-row: 15;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox514 {
  grid-row: 16;
  grid-column: 1;
}
.check514 {
  grid-row: 16;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox515 {
  grid-row: 17;
  grid-column: 1;
}
.check515 {
  grid-row: 17;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox516 {
  grid-row: 18;
  grid-column: 1;
}
.check516 {
  grid-row: 18;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox517 {
  grid-row: 19;
  grid-column: 1;
}
.check517 {
  grid-row: 19;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox518 {
  grid-row: 20;
  grid-column: 1;
}
.check518 {
  grid-row: 20;
  grid-column: 2;
  margin-top: 5px;
}

#checkbox519 {
  grid-row: 21;
  grid-column: 1;
}
.check519 {
  grid-row: 21;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox520 {
  grid-row: 22;
  grid-column: 1;
}
.check520 {
  grid-row: 22;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox521 {
  grid-row: 23;
  grid-column: 1;
}
.check521 {
  grid-row: 23;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox522 {
  grid-row: 24;
  grid-column: 1;
}
.check522 {
  grid-row: 24;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox523 {
  grid-row: 25;
  grid-column: 1;
}
.check523 {
  grid-row: 25;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox524 {
  grid-row: 26;
  grid-column: 1;
}
.check524 {
  grid-row: 26;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox525 {
  grid-row: 1;
  grid-column: 1;
}
.check525 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
}




.cx_add_especial{
  display: grid;
  grid-template-rows: repeat(9, 40px);
  grid-column-gap: 5px;

  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 10px;
}

.cx_add_especial label {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15pt;
}


.cx_add_especial input[type="checkbox" i]{
background-color: initial;
cursor: default;
appearance: auto;
box-sizing: border-box;
margin: 3px 3px 3px 4px;
padding: initial;
border: initial;
border-radius: 10px;
width: 25px;
height: 25px;
}


#checkbox600 {
  grid-row: 2;
  grid-column: 1;

}
.check600 {
  grid-row: 2;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox601 {
  grid-row: 3;
  grid-column: 1;
}
.check601 {
  grid-row: 3;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox602 {
  grid-row: 4;
  grid-column: 1;
}
.check602 {
  grid-row: 4;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox603 {
  grid-row: 5;
  grid-column: 1;
}
.check603 {
  grid-row: 5;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox604 {
  grid-row: 6;
  grid-column: 1;
}
.check604 {
  grid-row: 6;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox605 {
  grid-row: 7;
  grid-column: 1;
}
.check605 {
  grid-row: 7;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox606 {
  grid-row: 8;
  grid-column: 1;
}
.check606 {
  grid-row: 8;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox607 {
  grid-row: 9;
  grid-column: 1;
}
.check607 {
  grid-row: 9;
  grid-column: 2;
  margin-top: 5px;
}
#checkbox608 {
  grid-row: 1;
  grid-column: 1;
}
.check608 {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
}



.cx_add1 {
  display: grid;
  grid-template-columns: 24px 150px 24px 150px;
  grid-template-rows: repeat(9, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}
.grid_titulo {
  grid-row: 1;
  grid-column: 1 /2;
  grid-column: span 2;
  justify-self: center;
}
.grid_title2 {
  grid-row: 1;
  grid-column: 3 /4;
  grid-column: span 3;
  justify-self: center;
}
#checkbox1 {
  grid-row: 2;
  grid-column: 1;
}
.check1 {
  grid-row: 2;
  grid-column: 2;
}
#checkbox2 {
  grid-row: 3;
  grid-column: 1;
}
.check2 {
  grid-row: 3;
  grid-column: 2;
}
#checkbox3 {
  grid-row: 4;
  grid-column: 1;
}
.check3 {
  grid-row: 4;
  grid-column: 2;
}
#checkbox4 {
  grid-row: 5;
  grid-column: 1;
}
.check4 {
  grid-row: 5;
  grid-column: 2;
}
#checkbox5 {
  grid-row: 6;
  grid-column: 1;
}
.check5 {
  grid-row: 6;
  grid-column: 2;
}
#checkbox6 {
  grid-row: 7;
  grid-column: 1;
}
.check6 {
  grid-row: 7;
  grid-column: 2;
}
#checkbox7 {
  grid-row: 8;
  grid-column: 1;
}
.check7 {
  grid-row: 8;
  grid-column: 2;
}
#checkbox8 {
  grid-row: 2;
  grid-column: 3;
}
.check8 {
  grid-row: 2;
  grid-column: 4;
}
#checkbox9 {
  grid-row: 3;
  grid-column: 3;
}
.check9 {
  grid-row: 3;
  grid-column: 4;
}
#checkbox10 {
  grid-row: 4;
  grid-column: 3;
}
.check10 {
  grid-row: 4;
  grid-column: 4;
}
#checkbox11 {
  grid-row: 5;
  grid-column: 3;
}
.check11 {
  grid-row: 5;
  grid-column: 4;
}
#checkbox12 {
  grid-row: 6;
  grid-column: 3;
}
.check12 {
  grid-row: 6;
  grid-column: 4;
}
#checkbox13 {
  grid-row: 7;
  grid-column: 3;
}
.check13 {
  grid-row: 7;
  grid-column: 4;
}
#checkbox14 {
  grid-row: 8;
  grid-column: 3;
}
.check14 {
  grid-row: 8;
  grid-column: 4;
}
#checkbox15 {
  grid-row: 9;
  grid-column: 3;
}
.check15 {
  grid-row: 9;
  grid-column: 4;
}


.cx_add3 {
  display: grid;
  grid-template-columns: 24px 150px 24px 150px;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}
#check_grid {
  position: relative;
  top: 8px;
}
#grid_title {
  grid-row: 1;
  grid-column: span 4;
  justify-self: center;
}
#checkbox16 {
  grid-row: 2;
  grid-column: 1;
}
.check16 {
  grid-row: 2;
  grid-column: 2;
}
#checkbox17 {
  grid-row: 3;
  grid-column: 1;
}
.check17 {
  grid-row: 3;
  grid-column: 2;
}
#checkbox18 {
  grid-row: 4;
  grid-column: 1;
}
.check18 {
  grid-row: 4;
  grid-column: 2;
}
#checkbox19 {
  grid-row: 5;
  grid-column: 1;
}
.check19 {
  grid-row: 5;
  grid-column: 2;
}
#checkbox20 {
  grid-row: 6;
  grid-column: 1;
}
.check20 {
  grid-row: 6;
  grid-column: 2;
}
#checkbox21 {
  grid-row: 7;
  grid-column: 1;
}
.check21 {
  grid-row: 7;
  grid-column: 2;
}
#checkbox22 {
  grid-row: 8;
  grid-column: 1;
}
.check22 {
  grid-row: 8;
  grid-column: 2;
}
#checkbox23 {
  grid-row: 9;
  grid-column: 1;
}
.check23 {
  grid-row: 9;
  grid-column: 2;
}
#checkbox24 {
  grid-row: 10;
  grid-column: 1;
}
.check24 {
  grid-row: 10;
  grid-column: 2;
}
#checkbox25 {
  grid-row: 2;
  grid-column: 3;
}
.check25 {
  grid-row: 2;
  grid-column: 4;
}
#checkbox26 {
  grid-row: 3;
  grid-column: 3;
}
.check26 {
  grid-row: 3;
  grid-column: 4;
}
#checkbox27 {
  grid-row: 4;
  grid-column: 3;
}
.check27 {
  grid-row: 4;
  grid-column: 4;
}
#checkbox28 {
  grid-row: 5;
  grid-column: 3;
}
.check28 {
  grid-row: 5;
  grid-column: 4;
}
#checkbox29 {
  grid-row: 6;
  grid-column: 3;
}
.check29 {
  grid-row: 6;
  grid-column: 4;
}
#checkbox30 {
  grid-row: 7;
  grid-column: 3;
}
.check30 {
  grid-row: 7;
  grid-column: 4;
}
#checkbox31 {
  grid-row: 8;
  grid-column: 3;
}
.check31 {
  grid-row: 8;
  grid-column: 4;
}
#checkbox32 {
  grid-row: 9;
  grid-column: 3;
}
.check32 {
  grid-row: 9;
  grid-column: 4;
}
#checkbox33 {
  grid-row: 10;
  grid-column: 3;
}
.check33 {
  grid-row: 10;
  grid-column: 4;
}
#checkbox34 {
  grid-row: 11;
  grid-column: 1;
}
.check34 {
  grid-row: 11;
  grid-column: 2;
}
#checkbox35 {
  grid-row: 11;
  grid-column: 3;
}
.check35 {
  grid-row: 11;
  grid-column: 4;
}
#checkbox36 {
  grid-row: 12;
  grid-column: 1;
}
.check36 {
  grid-row: 12;
  grid-column: 2;
}

.btn_escolha {
  margin-bottom: 20px;
}
.pagamento {
  display: none;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
 
}
.pagamento h1 {
  font-size: 25px;
  border-bottom: solid 2px #210129;
}
.pagamento h4 {
  border-bottom: solid 2px #210129;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
 /* font-size: 18pt;*/
  margin-top: 10px;
  padding: 20px 30px 10px 30px;
  border-radius: 20px;
  width: 250px;
  background-color: #64f597;
  animation: growAndShrink 1s infinite;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  height: 45px;
}

@keyframes growAndShrink {
  0% {
    font-size: 17pt;
  }
  50% {
    font-size: 18pt;
  }
  100% {
    font-size: 19pt;
  }
}

.pagamento li {
  font-weight: bolder;
  color: black;
  font-size: 14px;
}
.res_pix {
  display: none;
  border-radius: 20px;
  align-items: center;
  align-self: center;
  text-align: center;
}
.res_pix h3 {
  color: #210129;
  margin-bottom: 10px;
}
.res_pix h5 {
  color: #210129;
}
.res_pix p {
  padding-left: 10px;
}
.res_qrcode{
  margin-top: 10px;
}
.res_btn_pix{
  padding-left: 20px;
}
.img_whats{
  width: 15px;
  margin-left: 5px;
}
.res_cartao {
  display: none;
  border-radius: 20px;
  align-items: center;
  align-self: center;
  text-align: center;
}

.cliqueaqui:hover{
  background-color: #44274c;
  cursor: pointer;
  color: rgb(107, 107, 236);
}
.cliqueaqui{
  color: blue;
  margin-bottom: 10px;
}
.res_cartao h3 {
  color: #210129;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}
.res_cartao p {
  padding-left: 10px;
}

.res_dinheiro {
  display: none;
  border-radius: 20px;
  align-items: center;
  align-self: center;
  text-align: center;
}
.res_dinheiro h3 {
  color: #210129;
  margin-bottom: 10px;
}
.res_dinheiro label{
  display: block;
}



.grid_pgto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 25px;
  column-gap: 5px;
  margin-bottom: 5px;
}
#btn_pix {
  border-radius: 30px;
  grid-column: 1;
  grid-row: 1 / -1;
}
#btn_cartao {
  border-radius: 30px;
  grid-column: 2;
  grid-row: 1 / -1;
}
#btn_dinheiro {
  border-radius: 30px;
  grid-column: 3;
  grid-row: 1 / -1;
}


.grid_cnpj {
  display: grid;
  grid-column: 1fr 1fr;
  column-gap: 10px;
}
#cnpj {
  grid-column: 1;
  align-items: end;
  text-align: end;
  align-self: self-end;
  font-weight: bold;
}
#copiar_chave {
  grid-column: 2;
}

#informativo {
  margin: 10px 0 20px 0;
  padding-left: 10px;
  border-radius: 20px;
  width: 350px;
  display: none;

  margin-bottom: 10px;
  align-self: center;
  align-items: center;
  text-align: center;
  height: 50px;
  grid-row: 3;
}
.grid_colher {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 20px 20px;
  margin-top: 10px;
  column-gap: 30px;
}
#colher_sim {
  grid-column: 1;
  grid-row: 1 / -1;
}
#colher_nao {
  grid-column: 2;
  grid-row: 1 / -1;
}
#informativo button {
  border-radius: 10px;
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#res_colher1 {
  display: inline-block;
}
#res_colher {
  display: inline-block;
}
.grid_botoes {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 20px 20px 20px 10px;
  row-gap: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5px;
  
}
#esconde_comprar_mais {
  display: none;
  grid-row: 2;
  justify-content: center;
  text-align: center;
  align-items: center;

}
#esconde_finalizar_carrinho {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  grid-row: 3;
}
#esconde_p{
  display: none;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.valor_na_tela{
  grid-row: 3;
  grid-column: 1 / -1;
}
.ocutar {
  align-items: center;
  align-self: center;
  text-align: center;
  grid-row: 4;
}

#usuario h2{
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cx_itens {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.cx_itens input[type="text"] {
  margin-right: 10px;
  height: 25px;
  width: 150px;
  
  align-items: center;
  align-self: center;
  text-align: center;
  border: solid yellow 1px;
  margin-top: 5px;
  background: radial-gradient(yellow,rgb(240, 240, 90));
  border-radius: 10px;
  font-weight: bolder;
}
.cx_itens input[type="number"] {
  margin-right: 10px;
  height: 25px;
  width: 50px;
  text-align: center;

  align-self: center;
  text-align: center;
  border: solid yellow 1px;
  margin-top: 5px;
  background: radial-gradient(yellow,rgb(240, 240, 90));
  border-radius: 10px;
  font-weight: bolder;
}
.cx_itens button {
  width: 50px;
  height: 25px;
  margin-right: 10px;

  align-items: center;
  align-self: center;
  text-align: center;
  border: solid yellow 1px;
  margin-top: 5px;
  background: radial-gradient(yellow,rgb(240, 240, 90));
  border-radius: 10px;
  font-weight: bolder;
}

#vazio{
  margin: 0;
  width: 0;
  height: 0;
  grid-row: 3;
  display: none;
}

/*------ESPAÇO DO PATROCIONIO BRAIP-------*/
#pt1{
  display: none;
}
#pt2{
  display: none;
}
.patrocinio{
  margin-top: 5px;
  background-color: black;
  display: grid;
  grid-template-rows: 25px 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

.patrocinio:hover{
  cursor: pointer;
  width: 350px;
  height: 125px;
}
.patrocinio img{
  border-radius: 10px;
  width: 160px;
  height: 90px;
}
.pt_titulo {
  color: #fff;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}
.pt_imagem {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}
.pt_merchan {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  text-align: start;
  color: #fff;
  padding: 0 0 0 5px;
}
/*-------------------------*/

.patrocinio2{
  margin-top: 5px;
  display: grid;
  grid-template-rows: 25px 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}
.patrocinio2:hover{
  cursor: pointer;
  width: 350px;
  height: 125px;
}
.patrocinio2 img{
  border-radius: 10px;
  width: 160px;
  height: 90px;
}
.pt_titulo2 {
  color: #fff;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}
.pt_imagem2 {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}
.pt_merchan2 {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  text-align: start;
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding: 0 0 0 5px;
}
.pt_imagem3 {
  width: 350px;
  border-radius: 60px 0 60px 0;

}
.pt_imagem3:hover{
  cursor: pointer;
  width: 360px;

}


.highlight {
  background-color: yellow;
}
#search-input{
  border-radius: 10px;
  height: 30px;
}
.pesquisa {
  border-top: solid 1px;
}
#pergunta_mult {
  display: none;
  width: 350px;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.pergunta_mult {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.multiplicador {
  display: grid;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 50px 50px 50px;
  grid-row: 3;
  width: 350px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#mont_paragrafo {
  grid-column: 1 / -1;
  grid-row: 1;
}
#mont_dois {
  margin-right: 40px;
  grid-column: 1;
  grid-row: 2;
  justify-self: flex-start;
}
#mont_tres {
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-end;
}
#mont_quatro {
  margin-right: 40px;
  grid-column: 1;
  grid-row: 3;
  justify-self: flex-start;
}
#mont_cinco {
  grid-column: 2;
  grid-row: 3;
  justify-self: flex-end;
}

.multiplicador button {
  display: inline-flex;
  border-radius: 10px;
  margin-top: 30px;
  height: 60px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  background: linear-gradient(30deg, #9104b8 25%, #9c34b8 50%, #c86de1 75%);
  background-size: 300% 300%;
  animation: brilho 4s linear infinite;
  font-weight: bolder;
}

@keyframes brilho {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;  
  }

  100% {
    background-position: 100% 50%;
  }
}

.btns_mult_sim {
  display: inline-flex;
  grid-row: 5;
  grid-column: 1;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.btns_mult_sim:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btns_mult_nao {
  display: inline-flex;
  grid-row: 5;
  grid-column: 2;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  font-weight: bolder;
}
.btns_mult_nao:hover {
  background-color: rgb(128, 32, 78);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#linha1 {
  grid-row: 1;
  grid-column: 1 / -1;
}
#linha2 {
  grid-row: 2;
  grid-column: 1 / -1;
}
#linha3 {
  grid-row: 3;
  grid-column: 1 / -1;
}
#linha4 {
  grid-row: 4;
  grid-column: 1 / -1;
}

.carousel-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 300px; /* Largura fixa igual à do container */
  height: 300px; /* Altura fixa igual à do container */
  flex-shrink: 0; /* Impede que a imagem encolha */
}

.container_fechado {
  border-radius: 20px;
  grid-template-columns: 500px;
  grid-template-rows: auto fr;
  gap: 2px;
  display: grid;
  padding-left: 0;
  margin: 0;
  grid-row: 2 / 2;

  justify-content: center;
  justify-items: center;
  row-gap: 5px;
  grid-auto-rows: auto;
  grid-template-columns: 360px;
}